.footer-top {
    background-color: #2B2B2B;
    color: #777;
    font-size: 14px;
}

#footer hr{
    border: 0;
    margin: 0;
    padding: 0;
    border-bottom: #3d3d3d 1px solid;
    border-top: #1a1a1a 1px solid;
    opacity: unset;
}

.footer-body {
    text-align: left;
}

.logo-footer{
    padding-top: 40px;
}

.spaced {
    padding: 60px 15px;
    font-size: 14px;
    padding-bottom: 0;
}

.spaced h4{
    color: white;
    font-weight: 400;
}

.spaced li:hover{
    color: #AD5251;
    cursor: pointer;
}

.logo-footer-detail p {
    line-height: 30px;
    margin: 0;
}

.footer-bottom {
    background-color: #252525;
}

.footer-bottom p{
    color: #777;
    padding: 20px 0;
    margin: 0;
    font-size: 12px;
}

.text-color {
    color: #47a7ff;
}

.text-color:hover {
    color: #AD5251;
    text-decoration: underline;
    cursor: pointer;
}

.icon-text {
    width: 14px;
    height: 14px;
}
