@media only screen and (max-width: 767px){
    .sizetitle{
        font-size: 28px !important;
    }

    .sizetitle2{
        font-size: 18px !important;
    }

    .sizeimage{
        width: 100% !important;
    }
}

@media only screen and (max-width: 1023px){
    .sizetitle{
        font-size: 28px !important;
    }

    .sizetitle2{
        font-size: 18px !important;
    }

    .sizeimage{
        width: 100% !important;
    }
}