.sizelink{
    text-decoration: none;
}

.sizetitle2{
    word-break: break-word;
}

.fontsizetitle{
    word-break: break-word;
}

.normal{
    word-break: keep-all;
}


.fonttitlecard{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}






@media only screen and (max-width: 767px){
    .sizetitle{
        font-size: 24px !important;
    }

    .sizetitle2{
        font-size: 18px !important;
    }

    .sizetitle3{
        font-size: 18px !important;
    }

    .sizetitle4{
        font-size: 16px !important;
    }

    .sizeimage{
        width: 100% !important;
    }
    .sizelink{
        font-size: 13px;
    }

    .normal{
        word-break: keep-all;
    }

    .narrow{
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 1px;
    }

    .fonttitle{
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    



}





@media only screen and (max-width: 1023px){
    .sizetitle{
        font-size: 22px !important;
    }

    .sizetitle2{
        font-size: 20px !important;
    }

    .sizetitle3{
        font-size: 18px !important;
    }

    .sizetitle4{
        font-size: 16px !important;
    }


    .sizeimage{
        width: 100% !important;
    }


    
    .title2{
        justify-content: center;
       
    }

    




}


@media only screen and (min-width: 300px) and (max-width: 1180px)
{

}