.footer-top {
    background-color: #2B2B2B;
    color: #777;
    font-size: 14px;
}

#footer hr{
    border: 0;
    margin: 0;
    padding: 0;
    border-bottom: #3d3d3d 1px solid;
    border-top: #1a1a1a 1px solid;
    opacity: unset;
}

.footer-body {
    text-align: left;
}

.logo-footer-img {
    margin-bottom: 10px;
}

.spaced {
    padding: 60px 15px;
}

.spaced a{
    text-decoration: none;
    color: #777;
}

.spaced a:hover{
    color: #AD5251;
    cursor: pointer;
}

.spaced h5{
    color: white;
    font-weight: 400;
    margin-bottom: 14px;
}

.right-icon {
    width: 17px;
    height: 20px;
}

.spaced li {
    margin-bottom: 0 !important;
    padding: 3px 0;
}

.spaced li:hover{
    color: #AD5251;
    cursor: pointer;
}

.typography-message {
    margin-bottom: 20px;
}

.logo-footer-detail {
    padding: 40px 15px;
}

.footer-bottom {
    background-color: #252525;
    --bs-gutter-x: 0;
}

.footer-bottom p{
    color: #777;
    padding: 20px 15px;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
}

.text-color {
    text-decoration: none;
    color: #47a7ff;
}

.text-color.external-link {
    font-size: 10px;
}

.icon-text.icon-external-link {
    width: 12px;
    height: 12px;
}

.text-color:hover {
    color: #AD5251;
    text-decoration: underline;
    cursor: pointer;
}

.icon-text {
    width: 14px;
    height: 14px;
}

@media only screen and (max-width: 767px) {
    .spaced {
        padding: 20px 15px;
    }
    .footer-body {
        margin: 0;
        max-width: 100%;
    }
}
