.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.row1-cloudconsult{
  text-align: center;
  
}

.title-name-consult{
  margin-top: 3%;
}

.row2-cloudconsult{
  text-align: left;
  margin-bottom: 3%;
  display: flex;
  align-items: flex-end;
}
.row3-cloudconsult{
  text-align: center;
}

.card1-consults{
  text-align: center;
}
.title-cloudconsult{
  margin-bottom: 3%;
  
}

.icon-cloudconsult{
  color: #0099FF;
  margin-right: 3%;
  margin-top: 2%;
  margin-left: 5%;
  border-radius:50%;
  border: solid white 0px;
  background-color:#99CCFF;
  padding: 8px;
}

.content-consult{
  margin-left: 24%;
  margin-top: -12%;
  
}

.avatar-card-title{
  width: 18rem;
  position: relative;
  text-align: left;
  font-weight: bold;
  margin-bottom: 6%;
  margin-left: 5%;
  margin-top: 5%;
  
}

.avatar-card-user{
  text-align: right;
  position: absolute;
  left: 75%;
  right: 5%;
  top: 15%;
  width: 11%;
  border-radius:50%;
 
}



.col-data-consult{
  border: solid white 2px;
  background:  white;
  border-radius: 10px;
  
}

/* Mobile & tablet :width <1024px*/
@media only screen and (max-width: 1023px){
  .row2-cloudconsult{
    display: flex;
  }
  .content-consult{
    margin-top: -18%;
    margin-left: 26%;
  }
}


@media only screen and (max-width: 767px){
  .row2-cloudconsult{
    display: flex;
  }
  .content-consult{
    margin-top: -12%;
    
  }
  .icon-cloudconsult{
    margin-top:2%;
    margin-bottom: 2%;
    
  }
}

