.table-cloudservices {
  display: flex;
}

.ServerBox {
  flex: 1;
}

.ClusterTitle {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.ClusterBox {
  display: flex;
}

.ClusterBox1 {
  flex: 1;
  
}

.StorageBox {
  flex: 1;
}




/* ------------------------------------------------- */
.cloudservice {
  text-align: center;
  background-color: #F4F4F4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.icon-CloudIcon{
  color: white;
  font-size: larger;
}

.row-box-title{
  background: #47A7FF;
  border-radius: 10px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  box-shadow: #808090;
}
.row-box-title-1-3{
  height: 68px !important;
  background: #47A7FF;
  border-radius: 10px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-service-title{
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding-left: 5px;
  margin: 5px;
}
.home-service-subtitle{
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.row-box-title-1-3 p{
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.home-service-name{
  padding-left: 15px;
  padding-top: 15px;
  margin: 0;
}

.home-service-name a{
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: black;  
}
.home-service-name a:hover{
  cursor: pointer;
  color: #47a7ff;
}
.home-service-description{
  color: #808090;
  font-size: 14px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
  /* padding-bottom: 40px; */
  min-height: 80px;
}

.row-box-intro{
  background: white;
  border-radius: 10px;
  height: 100px;
  border-bottom: 2px solid #ebebeb;
}

.col-data-app{
  border: 2px solid #47a7ff;
  background: white;
  border-radius: 10px;
}

.col-data-app-hidden{
  display: none;
}

.title-En{
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: left;
}
.intro{
  color: #808090;
  font-weight: bold;
  font-size: 13px;
}

/* Mobile & tablet :width <1024px*/
@media only screen and (max-width: 1023px){
  .table-cloudservices {
    display: flex;
  }
  
  .ServerBox {
    flex: 1;
  }
  
  .ClusterTitle {
    flex: 1;
  }
  
  .ClusterBox {
    display: flex;
    flex-direction: column;
  }

  .home-service-title{
    font-size: 15px;
  }
  .home-service-subtitle{
    display: none;
  }

  .col-data-app, .row-box-intro{
    min-height: 125px;
  }
  
  .ClusterBox1{
    margin-right: 0 !important;
  } 
  .Card-Hidden{
    display: none;
  }
  
}

@media only screen and (max-width: 767px){
  .table-cloudservices {
    display: flex;
    flex-direction: column;
  }
  
  .ServerBox, .ClusterTitle, .StorageBox {
    margin-right: 0 !important;
  }

  .home-service-title{
    font-size: 20px;
  }
  .home-service-subtitle{
    display: none;
  }
  .Card-Hidden{
    display: none;
  }
  .detailpage-description{
    font-size: 25px !important;
  }
  .detailpage-title{
    font-size: 35px !important;
  }
  .Buttonstyle a{
    font-size: 13px !important;
  }
  .data-content-description, .data-content-description-right{
    font-size: 15px !important;
  }
}



