.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







.coloruserdata{
  background-color:#F3F5F9;
}


.phoneline{
  text-decoration: none;
}


.mailline{
  text-decoration: none;
}


.phoneline:hover {
  color: #AD5251;
  text-decoration: underline;
  cursor: pointer;
}

.mailline:hover {
  color: #AD5251;
  text-decoration: underline;
  cursor: pointer;
}

.font-title-cloud{
  font-size: 15px;
  padding-left: 2%;
  
}

.icon-shape{
  font-size: 12px;
}






/* Mobile & tablet :width <1024px*/
@media only screen and (max-width: 1023px){
  .row2-cloudconsult{
    display: flex;
    
  }
  
  .iconstyle{
    border-radius:15%;
    padding:0.5%;
  }


  .font-title-cloud{
    font-size: 16px;
  }

  .icon-shape{
    padding:2%;
  }
 
 
  
}



@media only screen and (max-width: 767px){
  .row2-cloudconsult{
    display: flex;
  }
 
  .iconstyle{
    border-radius:30%;
  }
  
 
}

