.gray{
    color: gray;
    line-height: 2.0;
}

._2gray{
    line-height: 2.0;
}

.title{
    text-align: left;
}

img.cloud_image {
    width: 330px;
    height: 500px;
}

.row {
    padding-left: 30px;
    padding-right: 30px;
}




