.gray{
    color: gray;
    line-height: 2.0;
}

._2gray{
    line-height: 2.0;
}

.title{
    text-align: left;
}

img.cloud_image {
    width: 330px;
    height: 500px;
}

.livechat{
    width: 150px;
    height: 47px;
    background-color: #A94545;
    border-radius: 30px;
    padding-top: 8px;
    display: inline-block;
    position: fixed;
    bottom: 150px;
    right: -23px;
    cursor: pointer;
    z-index: 1000;
}

span.content {
    padding-left: 5px;
    color: white;
    font-size: 14px;
}

.livechat_2.col {
    width: 156px;
    height: 47px;
    background-color: #3a87ad;
    border-radius: 30px;
    padding-top: 8px;
    display: inline-block;
    position: fixed;
    bottom: 96px;
    right: -23px;
    cursor: pointer;
    z-index: 1000;
}

.button{
    position: sticky;
    right: 0;
    top: 0;

}

.big_table {
    box-shadow: 0px 0px 10px #e7eaf3;
    height: 230px;
    border-radius: 5px;
    /* width: 192px; */
    
    /* align-content: center; */
} 

.small_table {
    width: 800px;

    height: 80px;
    padding-top: 54px;
    margin: 0 23px;
    color: #DDDDDD;
}

h2 {
    padding: 25px;
}

.second {
    height: 470px;
}

td.headline {
    color: #DDDDDD;
    background: #393939;
}

text{
    color: black;
}

Table.small_table {
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 10px 0 0 0
}

Table.small_table td{
    padding: 1rem;
    border: 1px solid;
}

Table.small_table tr:first-child td{
    border-top: 0;
    
}

Table.small_table tr:first-child td:first-child{
    border-left: 0;
    border-radius: 10px 0 0 0;
}

Table.small_table tr:first-child td:last-child{
    border-right: 0;
    border-radius: 0 10px 0 0;
}

Table.small_table tr:first-child td{
    border-top: 0;
    
}