.introduce-content{
    padding-top: 20px;

}
.introduce-content-card{
    border: 1px solid #ebebeb;
    margin-left: 5px;
    border-radius: 5px;
    padding: 20px;
}

.intro-title{
    font-weight: 800;
    font-size: 15pt;
    padding: 20px;
}

.intro-description{
    color: gray;
    padding: 20px;
}